// colors

$primary-color: #D61322;

$primary-color-black: #AB0F1B;

$text-color: #353535;

$text-color-light: #636363;

$text-color-extra-light: #969696;

$black-color: #000;

$contrast-color: #fff;

// font-size

$title-fz: 36px;

$sub-title-fz: 22px;

$tab-fz: 20px;

$text-fz: 16px;

$link-fz: 14px;

// font-family

$font-family-text: 'Inter', sans-serif;

$font-family-title: 'EuropeExtendedC';